<div class="center-left">
  <h2 class="register">Forgot your password?</h2>
  <div class="login-wrap">
    <div class="login-subwrap">
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
          <%#= devise_error_messages! %>
          <div class="label-wrap">
            <label><%= f.label :email %></label>
            <%= f.email_field :email, :autofocus => true %>
						<span class="error"><%=resource.errors[:email].first %></span>
          </div>


          <div class="label-wrap">
            <%= f.button "Send Me Reset Password Instruction", :class => 'btn' %>
          </div>
          <div class="clear"></div>
          <div class="label-wrap">
            <%#= link_to "Sign in", new_session_path(resource_name), :class => 'btn' %>
            <%#= link_to "Sign up", new_registration_path(resource_name), :class => 'btn' %>
          </div>
          <div class="clear"></div>
      <% end %>
    </div>
  </div>
</div>
<%= render "layouts/right_add_column"%>
