<!-- footer -->
<footer>
	<div class="footer">
  <div class="foot-wrapper">
    <ul>
      <li><%= link_to "Departments", "#", :title => "Departments" %></li>
      <li>|</li>
      <li><%= link_to "videos", "#", :title => "videos" %></li>
      <li>|</li>
      <li><%= link_to "Webinars", "#", :title => "Webinars" %></li>
      <li>|</li>
      <li><%= link_to "Events", "#", :title => "Events" %></li>
      <li>|</li>
      <li><%= link_to "Subscribe Today", "#", :title => "Subscribe Today" %></li>
      <li>|</li>
      <li><%= link_to "Advertise", "#", :title => "Advertise" %></li>
      <li>|</li>
      <li><%= link_to "Digital Magazine", "#", :title => "Digital Magazine" %></li>
      <li>|</li>
      <li><%= link_to "Jobs Board", "#", :title => "Jobs Board" %></li>
    </ul>
  </div>
</div>
</footer>
<!-- / footer -->